.project-container {
  border: 2px solid grey;
  border-radius: 8px;
  padding: 1rem;
  background: #678fe6;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.project-link {
  color: #0366d6;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.project-link:hover {
  text-decoration: underline;
}

.project-description {
  margin: 0.5rem 0;
  color: #333;
}

.project-image {
  width: 100%;
  max-width: 400px;
  border-radius: 4px;
  margin-top: 0.5rem;
}

.project-label {
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
}
